.projects-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
  height: 80vh;
}

.projects-cards-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 12px;
}

.projects-img{
  height: 350px;
  width: 100%;
}

.projects-h1 {
  line-height: 100px;
}

.projects-h2 {
  font-size: x-large;
}

@media (min-width: 350px) {
  .projects-div {
    height: 82vh;
  }
}

@media (min-width: 390px) {
  .projects-div {
    height: 84.5vh;
  }
}

@media (min-width: 750px) {
  .projects-div {
    height: 87vh;
  }
}